@model Crab

<div class="card">
    <div class="card-header">
        <h2>Add Crab</h2>
    </div>
    <div class="card-body">
        <form asp-action="Crab" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weapon"></label>
                <input asp-for="Weapon" class="form-control">
                <span asp-validation-for="Weapon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpaceCraft"></label>
                <input asp-for="SpaceCraft" class="form-control">
                <span asp-validation-for="SpaceCraft" class="text-danger"></span>
            </div>
            <input type="submit" value="Create Crab" class="btn btn-outline-danger">
        </form>
    </div>
</div>