@model Planet


<div class="card">
    <div class="card-header">
        <h2>Add Planet</h2>
    </div>
    <div class="card-body">
        <form asp-action="Planet" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="System"></label>
                <input asp-for="System" class="form-control">
                <span asp-validation-for="System" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Galaxy"></label>
                <input asp-for="Galaxy" class="form-control">
                <span asp-validation-for="Galaxy" class="text-danger"></span>
            </div>
            <input type="submit" value="Create Planet" class="btn btn-outline-primary">
        </form>
    </div>
</div>