@{
    ViewData["Title"] = "Home";
}

<div class="row">
    <div class="col">
        <partial name="AddCrab"></partial>
    </div>
    <div class="col">
        <partial name="AddPlanet"></partial>
    </div>
</div>